<div class="result-card flip-card">
    <div class="flip-card-inner">
        <div class="flip-icon" data-dojo-attach-point="flipIcon">
            <div class="flip-icon-back"></div>
            <div class="flip-icon-front"></div>
        </div>
        <div class="flip-card-front">
            <figure class="card-image-wrap">
                <img class="card-image" data-dojo-attach-point="cardImage" />
            </figure>
            <div class="card-content">
                <div>
                    <div class="title" data-dojo-attach-point="titleDiv">
                        <a
                            target="_blank"
                            data-dojo-attach-point="titleLink"
                        ></a>
                    </div>
                    <p
                        class="description"
                        data-dojo-attach-point="descriptionP"
                    ></p>
                </div>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="title" data-dojo-attach-point="backTitle">Title</div>
            <div class="info-container">
                <div
                    class="attribute-table"
                    data-dojo-attach-point="backAttTable"
                ></div>
            </div>
        </div>
    </div>
</div>
